<div fxFlex fxLayout="column">
  <div fxLayout="row wrap">
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      *ngFor="let product of allProducts"
      style="padding: 5px"
    >
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
