<mat-card>
  <mat-card-title>
    {{ product.title }}
  </mat-card-title>
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
    <p>$ {{ product.price }} c/u</p>
  </mat-card-content>

  <mat-card-footer> </mat-card-footer>
</mat-card>
