<mat-nav-list>
  <a mat-list-item routerLink="/courses">
    <mat-icon>insert_chart_outlined</mat-icon>
    <span class="nav-link">Shopping</span>
  </a>

  <a *ngIf="isAdmin" mat-list-item routerLink="/administration">
    <mat-icon>insert_chart_outlined</mat-icon>
    <span class="nav-link">Administration</span>
  </a>

  <a mat-list-item routerLink="/cart">
    <mat-icon>insert_chart_outlined</mat-icon>
    <span class="nav-link">Mi Carrito</span>
  </a>
</mat-nav-list>
